# Maven
target/
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# JWT Secrets or Sensitive files
*.env
.env*

# Docker
*.log
docker-compose.override.yml
# **/Dockerfile
# **/docker-compose*.yml

# Others
node_modules/
*.bak

